// .navbar {
//   background-color: #06191d;
// }
.nav-link {
    color: white;
}

.avatar {
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    align-self: center;
}