<div class="container">
  <div class="card item" style="width: 80vw;">
      <div class="card-body">
          <h2>Voetbaltafels</h2>
          <a routerLink="/admin/table/add" class="btn btn-sm btn-success mb-2">Tafel toevoegen</a>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th style="width: 20%">Naam</th>
                      <th style="width: 20%">Bedrijfsnaam</th>
                      <th style="width: 20%">Adres</th>
                      <th style="width: 20%">Contactpersoon</th>
                      <th style="width: 20%"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let table of tables">
                      <td>{{ table.tableName }}</td>
                      <td>{{ table.companyName }}</td>
                      <td>{{ table.address }}</td>
                      <td>{{ users[table.contactPersonID - 1].firstName }} {{ users[table.contactPersonID - 1].lastName }}</td>
                      <td style="white-space: nowrap">
                          <a routerLink="edit/{{table.tableID}}" class="btn btn-sm btn-primary mr-1">Wijzigen</a>
                          <button class="btn btn-sm btn-danger m-1" (click)="deleteTable(table.tableID)">Verwijder</button>
                      </td>
                  </tr>
                  <tr *ngIf="!tables">
                      <td colspan="5" class="text-center">
                          <span class="spinner-border spinner-border-lg align-center"></span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

