
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
}