<div class="container mt-5">
  <h1>Competitie toevoegen</h1>
  <form (ngSubmit)="addCompetition()">
    <div class="form-group mt-4">
      <label for="competitionName">Naam</label>
      <input type="text" class="form-control" id="competitionName" aria-describedby="competitionNameHelp"
        [(ngModel)]="competition.name" placeholder="v.b.: Kicker Championship 1998" name="competitionName">
      <small id="competitionNameHelp" class="form-text text-muted">De naam van de competitie.</small>
    </div>
    <div class="form-group">
      <label for="gameType">Wedstrijd Type</label>
      <select class="form-control" id="gameType" aria-describedby="gameTypeHelp" [(ngModel)]="competition.gameTypeID"
        name="gameType">
        <option hidden [value]="null">Selecteer wedstrijdtype</option>
        <option *ngFor="let gameType of gameTypes" [value]="gameType.gameTypeID">{{ gameType.name }}</option>
      </select>
      <small id="gameTypeHelp" class="form-text text-muted">Het type van wedstrijden binnen de competitie.</small>
    </div>
    <button class="btn btn-success mr-2" type="submit">Toevoegen</button>
    <button class="btn btn-info" routerLink="/admin/competition" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Annuleren</button>
  </form>
</div>
